.ds-algo{

    width: 1000px;
    margin-left: 20px;
    height: 50px;
    background-color: rgb(136, 136, 201);
    border:1px solid rgb(9, 7, 94);
    margin-top: 20px;
    padding: 15px;
    list-style: none;
    border-radius: 6px;
    margin-left: 160px;
    
}

.ds-algo:hover{
    background-color: rgb(97, 112, 226);
    border: 1px solid rgb(21, 8, 49);
    width: 1005px;
    height: 52px;
    transition: 200ms;
    box-shadow: 1px 5px 21px 0px rgba(126, 131, 131, 0.71);
}
.lets-go-btn{
    height:25px;
    width: 200px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid white;
    float: right;
    text-align: center;
    cursor: pointer;
    color: rgb(192, 187, 211);
}
.lets-go-btn:hover{
    background-color: aliceblue;
    border: 1px solid rgb(6, 6, 77);
    color: rgb(13, 0, 72);
    transition: 200ms;
}

.Footer{
    height: 200px;
    width: 100%;
}


@media screen and (max-width: 960px){

    .ds-algo{

        width: 80%;
        margin-left: -10px;
        height: 50px;
        background-color: rgb(136, 136, 201);
        border:1px solid rgb(9, 7, 94);
        margin-top: 20px;
        padding: 13px;
        list-style: none;
        border-radius: 6px;
        margin-left: 20px;
        
    }
    .ds-algo:hover{
        background-color: rgb(97, 112, 226);
        border: 1px solid rgb(21, 8, 49);
        width: 405px;
        height: 52px;
        transition: 200ms;
        box-shadow: 1px 5px 21px 0px rgba(126, 131, 131, 0.71);
    }
    .lets-go-btn{
        height:25px;
        width: 150px;
        padding: 2px;
        border-radius: 5px;
        border: 1px solid white;
        float: right;
        text-align: center;
        cursor: pointer;
        color: rgb(192, 187, 211);
    }

}



